*~
*.jar
sketch.properties
localsettings.py
private/

# dumped pixel positions for simulator;
layout.json

# build output
bin*

# exported processing sketches
*application*

# Compiled Python code
*.pyc

# Logs
*.log

# Jetbrain stuff
*.idea*

# Gradle
.gradle*
build*