<html>
<head>
  <title>master control</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="script/jquery-ui-1.12.1/jquery-ui.css">

  <script src="script/jquery-3.3.1.js"></script>
  <script src="script/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script src="script/jquery.ui.touch-punch.min.js"></script>
  <script src="script/knockout-3.4.2.debug.js"></script>
  <script src="script/underscore-min-1.6.0.js"></script>
  <script src="script/main.js"></script>

  <script>

{% autoescape None %}
DATA = null;

$(document).ready({{ onload }});

  </script>
</head>
<body>
  <style>

    body {
    font-family: sans-serif;
    }

    button {
    user-select: none;
    }

  </style>

<div style="color: red;" data-bind="text: ac_power"></div>

  <div>
    Minutes per visualization: <input id="mins" type="number" value="2.5"></input>
  </div>

  <div>
    <button id="stopall">stop all playback</button>
  </div>

  <div>
    <button id="stopcurrent">next visualization in playlist</button>
  </div>

  <br />

  <div>
    <button id="flap">FLAP</button>
  </div>

  <br />

  <div>
    <button id="projectm-next">projectm next viz</button>
  </div>

  <h3>wings are&hellip;</h3>

  <div data-bind="foreach: wingTrims">
    <div>
      <button data-bind="click: $root.setTrim">set</button>
      <span data-bind="text: $data"></span>
    </div>
  </div>

  <h3>playlists</h3>

  <div data-bind="foreach: playlists">
    <div>
      <button data-bind="click: play">play</button>
      <span data-bind="text: name"></span>
    </div>
  </div>

  <h3>visualizations</h3>

  <div data-bind="foreach: contents">
    <div>
      <button data-bind="click: play">play</button>
      <span data-bind="text: name"></span>
    </div>
  </div>

  <h3>placements</h3>

  <div data-bind="foreach: placements">
    <div>
      <button data-bind="click: set">set</button>
      <span data-bind="text: (stretch() ? 'stretch aspect' : 'preserve aspect')"></span>, <span data-bind="text: name"></span>
    </div>
  </div>

  <h3>custom placement</h3>

  <div><em>(slider positions may not represent current values!)</em></div>
  <br />

  <div>wing #2 in relation to wing #1:
    <button id="wingmode_unified">side-by-side (single canvas)</button>
    <button id="wingmode_mirror">mirrored</button>
    <button id="wingmode_flip">flip horizontally</button>
    <button id="wingmode_rotate">rotate 180</button>
  </div>

  <div>aspect ratio:
    <button id="aspect_stretch">stretch to fit window</button>
    <button id="aspect_preserve">preserve 1:1</button>
  </div>

  <div>x-offset: <div id="jog-xo"></div></div>
  <div>y-offset: <div id="jog-yo"></div></div>
  <div>rotation: <div id="jog-rot"></div></div>
  <div>scale: <div id="jog-scale"></div></div>

  <div>xscale: <div id="xscale"></div></div>
  <div>yscale: <div id="yscale"></div></div>
  
  <div>save this placement preset as <input id="saveas" type="text" placeholder="name"></input> <button id="saveplacement">save</button></div>

  <br/>
  <div>flap angle: <div id="flap-angle"></div></div>
  <div>flap depth: <div id="flap-depth"></div></div>
  <div>flap speed: <div id="flap-speed"></div></div>

  <br/>
  <div>audio sensitivity (30%-300%): <div id="audio-sens"></div></div>

  <br/>
  
  <div>
    <button id="playing_yes">play</button>
    <button id="playing_no">pause</button>
  </div>
  <div>timeline: <div id="timeline"></div></div>
  
  <div id="tubecontrol" style="display: none;">
    <h3>Tube</h3>


  </div>

  <div style="height: 200px;"></div>

</body>
</html>
