<html>
<head>
  <title>{{ geom }} master control</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="script/jquery-ui-1.12.1/jquery-ui.css">

  <script src="script/jquery-3.3.1.js"></script>
  <script src="script/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script src="script/jquery.ui.touch-punch.min.js"></script>
  <script src="script/knockout-3.4.2.debug.js"></script>
  <script src="script/underscore-min-1.6.0.js"></script>
  <script src="script/main.js"></script>

  <script>

{% autoescape None %}
DATA = null;

$(document).ready({{ onload }});

  </script>
</head>
<body>
  <style>

body {
  font-family: sans-serif;
  margin: 15px;
}

button {
  user-select: none;
}

.control {
  margin-bottom: 5px;
}

  </style>

<div style="color: red;" data-bind="text: ac_power"></div>

  <div>
    Minutes per visualization: <input id="mins" type="number" value="2.5"></input>
  </div>
  <div>
    <button id="stopall">stop all playback</button>
  </div>
  <div>
    <button id="stopcurrent">next visualization in playlist</button>
  </div>
  <div>
    <button id="extend">extend duration</button>
  </div>
  <div>
    <button id="resetduration">reset duration (TODO)</button>
  </div>

  <h3>playlists</h3>

  <div data-bind="text: current_playlist"></div>

  <div data-bind="foreach: playlists">
    <div>
      <button data-bind="click: play">play</button>
      <span data-bind="text: name"></span>
    </div>
  </div>

  <h3>visualizations</h3>

  <div data-bind="text: current_content"></div>
  <div>until <span data-bind="text: current_timeout"></span></div>
  
  <div data-bind="foreach: contents">
    <div>
      <button data-bind="click: play">play</button>
      <span data-bind="text: name"></span>
    </div>
  </div>

  <h3>placement mode</h3>

  <div data-bind="foreach: wingTrims">
    <div>
      <button data-bind="click: $root.setTrim">set</button>
      <span data-bind="text: $data"></span>
    </div>
  </div>

  <h3>placements</h3>

  <div data-bind="foreach: placements">
    <div>
      <button data-bind="click: set">set</button>
      <span data-bind="text: (stretch() ? 'stretch aspect' : 'preserve aspect')"></span>, <span data-bind="text: name"></span>
    </div>
  </div>

  <h3>effects</h3>

  <div id="effects_controls">
  </div>
  
  <h3>custom placement</h3>

  <div>save this placement preset as <input id="saveas" type="text" placeholder="name"></input> <button id="saveplacement">save</button></div>
  <br>

  <div id="placement_controls">
  </div>
  
  <h3>visualization controls</h3>

  <div id="controls">
  </div>
  
  <h3>audio controls</h3>

  <div id="audio_controls">
  </div>

  <hr>
  
</body>
</html>

